extends layout

block content
  h1= title
  p This page contains the details of the users saved in the database
  p Currently, there are a total of #{userlist.length} users.
  ul
    each user, i in userlist
      li #{user.name} is #{user.age} yrs old and works in #{user.work}

  div#new-user
    a(href="/newuser") New User